<div class="w-full">
  <% if notice.present? %>
    <p
      class="
        py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
      "
      id="notice"
    ><%= notice %></p>
  <% end %>

  <% if alert.present? %>
    <p
      class="
        py-2 px-3 bg-orange-50 mb-5 text-orange-500 font-medium rounded-lg inline-block
      "
      id="alert"
    ><%= alert %></p>
  <% end %>

  <% content_for :title, "Books" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Books</h1>

    <% if can? :create, Book %>
      <%= link_to "New book",
      new_book_path,
      class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>

  <% if can? :read, Book %>
    <% if @books.any? %>
      <ul class="space-y-4 mt-4">
        <% @books.each do |book| %>
          <%= render BookComponent.new(book: book) %>
          <p>
            <%= link_to "Show this book",
            book,
            class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
          </p>
        <% end %>
      </ul>
    <% else %>
      <p class="mt-4">No books found</p>
    <% end %>
  <% end %>
</div>
