<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p
        class="
          py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block
        "
        id="notice"
      ><%= notice %></p>
    <% end %>

    <%= render @book %>

    <% if can? :edit, @book %>
      <%= link_to "Edit this book",
      edit_book_path(@book),
      class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <%= link_to "Borrow this book",
        book_borrow_path(@book),
        data: { turbo_method: :post },
        class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>


    <% if can? :update, @book %>
      <%= link_to "Return this book",
          book_return_path(@book),
          data: { turbo_method: :post },
          class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>

    <%= link_to "Back to books",
        books_path,
        class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

    <% if can? :destroy, @book %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this book",
        @book,
        method: :delete,
        class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
  </div>
</div>
